table {
  width: 100%;
  border-collapse: collapse;
}

h1 {
  margin: 0;
}

thead {
  background-color: #F5C84C;
}

td,
th {
  border: 1px solid #c5c1c1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #F3BA2F;
  color: #222;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #F5C84C;
}

button:active {
  background-color: #D89E24;
}